config mcpd 'main'
	option enabled '1'
	option port '8765'
	option endpoint '/mcp'
	option timeout_ms '30000'
	option max_output_bytes '262144'
	option max_request_bytes '1048576'
	option upgrade_dir '/tmp/openwrt-mcpd-upgrade'
	option max_firmware_bytes '16777216'
	option flash_delay_ms '1500'
	option serial_device '/dev/ttyS2'
	option serial_baud '9600'
	option serial_capture_dir '/tmp/openwrt-mcpd-serial'
	option max_serial_capture_bytes '262144'
